flows/midnite.json
[
    {
        "id": "b712be0f.9b714",
        "type": "tab",
        "label": "Midnite Classic",
        "disabled": false,
        "info": ""
    },
    {
        "id": "739fffe7.b947a",
        "type": "debug",
        "z": "b712be0f.9b714",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 571.1666412353516,
        "y": 40.66670322418213,
        "wires": []
    },
    {
        "id": "10cd170c.9653f9",
        "type": "function",
        "z": "b712be0f.9b714",
        "name": "FormatPvVolts",
        "func": "msg.payload = msg.payload[0]/10\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 371.1666793823242,
        "y": 61.66669273376465,
        "wires": [
            [
                "739fffe7.b947a",
                "1febcbf9.b36f14"
            ]
        ]
    },
    {
        "id": "8fc4ae73.8d12f",
        "type": "function",
        "z": "b712be0f.9b714",
        "name": "FormatPvAmps",
        "func": "msg.payload = msg.payload[0]/10;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 369.6667022705078,
        "y": 170.0000410079956,
        "wires": [
            [
                "f481d5a3.5cc008",
                "8df5d846.aa0a58"
            ]
        ]
    },
    {
        "id": "f481d5a3.5cc008",
        "type": "debug",
        "z": "b712be0f.9b714",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 582.9999656677246,
        "y": 141.66671323776245,
        "wires": []
    },
    {
        "id": "264f99ab.4af686",
        "type": "debug",
        "z": "b712be0f.9b714",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 582.6666259765625,
        "y": 231.3333740234375,
        "wires": []
    },
    {
        "id": "9a9c4f4.59594b",
        "type": "function",
        "z": "b712be0f.9b714",
        "name": "FormatBatVolts",
        "func": "msg.payload = msg.payload[0]/10;\nmsg.load = {};\nmsg.load.volts = msg.payload;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 373.6666564941406,
        "y": 258.6667175292969,
        "wires": [
            [
                "264f99ab.4af686",
                "d661960d.b884a8",
                "6fdfe895.850b78"
            ]
        ]
    },
    {
        "id": "f69569c7.098db8",
        "type": "function",
        "z": "b712be0f.9b714",
        "name": "FormatBatAmps",
        "func": "msg.payload = msg.payload[0]/10;\nmsg.amps = {};\nmsg.amps.bat = msg.payload;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 370.3334045410156,
        "y": 636.3333196640015,
        "wires": [
            [
                "43de7a0.a489d88",
                "da9747c7.758468"
            ]
        ]
    },
    {
        "id": "621fe670.7b1f28",
        "type": "debug",
        "z": "b712be0f.9b714",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 562.8571166992187,
        "y": 336.33334159851074,
        "wires": []
    },
    {
        "id": "8bbe11c2.66094",
        "type": "function",
        "z": "b712be0f.9b714",
        "name": "getsChargeState",
        "func": "// Create new Buffer based on array bytes\nconst buf = Buffer.from(msg.responseBuffer.buffer);\n\n// Represent these bytes as 8-bit unsigned int\nconst value = buf.readInt8();\n\n// save the value\nmsg.bufferReadValue = value\n\n\nswitch (value)\n{\n    case 0:\n        msg.payload = \"Resting\";\n        break;\n    case 3:\n        msg.payload = \"Absorb\";\n        break;\n    case 4:\n        msg.payload = \"Bulk Mppt\";\n        break;\n    case 5:\n        msg.payload = \"Float\";\n        break;\n    case 6:\n        msg.payload = \"Float Mppt\";\n        break;\n    case 7:\n        msg.payload = \"Equalize\";\n        break;\n    case 10:\n        msg.payload = \"Hyper Voc\";\n        break;\n    case 18:\n        msg.payload = \"Eq Mppt\";\n        break;\n    default:\n        msg.payload = \"Unknown\";\n        break;\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 380.57152557373047,
        "y": 352.4762210845947,
        "wires": [
            [
                "621fe670.7b1f28",
                "93ab9506.7a1008"
            ]
        ]
    },
    {
        "id": "cc39eecf.19bcf",
        "type": "debug",
        "z": "b712be0f.9b714",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 580.6666221618652,
        "y": 428.0000343322754,
        "wires": []
    },
    {
        "id": "2104f01b.2d581",
        "type": "function",
        "z": "b712be0f.9b714",
        "name": "FormatWatts",
        "func": "msg.payload = msg.payload[0]\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 359.6666793823242,
        "y": 451.0000295639038,
        "wires": [
            [
                "cc39eecf.19bcf",
                "46e2e1a7.14fc7"
            ]
        ]
    },
    {
        "id": "353740b0.e4d35",
        "type": "debug",
        "z": "b712be0f.9b714",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 562.3333854675293,
        "y": 524.6667289733887,
        "wires": []
    },
    {
        "id": "59a3376.25545c8",
        "type": "function",
        "z": "b712be0f.9b714",
        "name": "FormatKwH",
        "func": "msg.payload = msg.payload[0]/10\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 363.0951271057129,
        "y": 551.904727935791,
        "wires": [
            [
                "353740b0.e4d35",
                "96ccd.179af334"
            ]
        ]
    },
    {
        "id": "a92a9531.3466b8",
        "type": "function",
        "z": "b712be0f.9b714",
        "name": "formatAmps",
        "func": "// Create new Buffer based on array bytes\nconst buf = Buffer.from(msg.responseBuffer.buffer);\n\n// Represent these bytes as 8-bit unsigned int\nconst value = buf.readInt16BE();\n\n// save the value\nmsg.payload = value/10;\nmsg.amps = {};\nmsg.amps.whz = msg.payload;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 341.4285430908203,
        "y": 738.0952568054199,
        "wires": [
            [
                "da9747c7.758468",
                "e63be9e9.597ec8",
                "e96f54c3.d5c7f8"
            ]
        ]
    },
    {
        "id": "655a7c0d.cc2d94",
        "type": "debug",
        "z": "b712be0f.9b714",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 541.4286766052246,
        "y": 865.2381944656372,
        "wires": []
    },
    {
        "id": "da9747c7.758468",
        "type": "join",
        "z": "b712be0f.9b714",
        "name": "",
        "mode": "custom",
        "build": "merged",
        "property": "amps",
        "propertyType": "msg",
        "key": "amps",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "2",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 567.8333740234375,
        "y": 684.6666870117187,
        "wires": [
            [
                "7cb9c4bd.78c61c"
            ]
        ]
    },
    {
        "id": "7cb9c4bd.78c61c",
        "type": "function",
        "z": "b712be0f.9b714",
        "name": "getConsumedAmps",
        "func": "msg.payload = msg.amps.bat - msg.amps.whz;\nmsg.load = {};\nmsg.load.amps = msg.payload;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 736.66650390625,
        "y": 682.666748046875,
        "wires": [
            [
                "67e685e7.1e0afc",
                "6bbf6e88.e3069",
                "d661960d.b884a8"
            ]
        ]
    },
    {
        "id": "bff7c12f.f9f5",
        "type": "function",
        "z": "b712be0f.9b714",
        "name": "getConsumedWatts",
        "func": "msg.payload = msg.load.volts * msg.load.amps;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1169.333251953125,
        "y": 268.66668701171875,
        "wires": [
            [
                "428360db.a49b5",
                "905ad13a.6480c"
            ]
        ]
    },
    {
        "id": "67e685e7.1e0afc",
        "type": "debug",
        "z": "b712be0f.9b714",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 951.1666259765625,
        "y": 683.6666259765625,
        "wires": []
    },
    {
        "id": "428360db.a49b5",
        "type": "debug",
        "z": "b712be0f.9b714",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 1476.3332824707031,
        "y": 317.999906539917,
        "wires": []
    },
    {
        "id": "e96f54c3.d5c7f8",
        "type": "debug",
        "z": "b712be0f.9b714",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 545.2381744384766,
        "y": 812.3810358047485,
        "wires": []
    },
    {
        "id": "367c99a4.35c6b6",
        "type": "function",
        "z": "b712be0f.9b714",
        "name": "formatSOC",
        "func": "msg.payload = msg.payload[0];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 353.1666564941406,
        "y": 884.3333740234375,
        "wires": [
            [
                "655a7c0d.cc2d94",
                "f93aab89.9edb68"
            ]
        ]
    },
    {
        "id": "355c1f12.3c8ce",
        "type": "debug",
        "z": "b712be0f.9b714",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 542.5,
        "y": 948.3333320617676,
        "wires": []
    },
    {
        "id": "5778c3d1.ae40dc",
        "type": "function",
        "z": "b712be0f.9b714",
        "name": "formatRemainingAH",
        "func": "msg.payload = msg.payload[0];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 343.3332977294922,
        "y": 959.9999771118164,
        "wires": [
            [
                "355c1f12.3c8ce",
                "582fa9e.b7cb858"
            ]
        ]
    },
    {
        "id": "9d9ddd0a.62c03",
        "type": "function",
        "z": "b712be0f.9b714",
        "name": "formatBatteryTemp",
        "func": "msg.payload = (9/5)*(msg.payload[0]/10)+32;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 335.5,
        "y": 1074,
        "wires": [
            [
                "25e715f7.db25ba",
                "797585a.147307c"
            ]
        ]
    },
    {
        "id": "25e715f7.db25ba",
        "type": "debug",
        "z": "b712be0f.9b714",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 520.5,
        "y": 1052,
        "wires": []
    },
    {
        "id": "9c78c002.df233",
        "type": "function",
        "z": "b712be0f.9b714",
        "name": "formatBatteryTemp",
        "func": "msg.payload = (9/5)*(msg.payload[0]/10)+32;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 333,
        "y": 1177,
        "wires": [
            [
                "6a484e73.214b9",
                "c95c087f.e9bd08"
            ]
        ]
    },
    {
        "id": "6a484e73.214b9",
        "type": "debug",
        "z": "b712be0f.9b714",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 518,
        "y": 1155,
        "wires": []
    },
    {
        "id": "adae46e5.e86ac8",
        "type": "function",
        "z": "b712be0f.9b714",
        "name": "formatBatteryTemp",
        "func": "msg.payload = (9/5)*(msg.payload[0]/10)+32;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 335,
        "y": 1286,
        "wires": [
            [
                "ab22c824.23f2c8",
                "e6f0ee48.f665b"
            ]
        ]
    },
    {
        "id": "ab22c824.23f2c8",
        "type": "debug",
        "z": "b712be0f.9b714",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 520,
        "y": 1264,
        "wires": []
    },
    {
        "id": "4e512411.b078bc",
        "type": "debug",
        "z": "b712be0f.9b714",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 566.3332901000976,
        "y": 1383,
        "wires": []
    },
    {
        "id": "c7a8bcd5.f44fe",
        "type": "function",
        "z": "b712be0f.9b714",
        "name": "FormatPvVolts",
        "func": "msg.payload = msg.payload[0]/10\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 366.3333282470703,
        "y": 1403.9999895095825,
        "wires": [
            [
                "4e512411.b078bc",
                "a6dd342f.a846b8"
            ]
        ]
    },
    {
        "id": "d661960d.b884a8",
        "type": "join",
        "z": "b712be0f.9b714",
        "name": "",
        "mode": "custom",
        "build": "merged",
        "property": "load",
        "propertyType": "msg",
        "key": "load",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "2",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 968.5,
        "y": 268,
        "wires": [
            [
                "bff7c12f.f9f5",
                "463cae01.4f10a"
            ]
        ]
    },
    {
        "id": "463cae01.4f10a",
        "type": "debug",
        "z": "b712be0f.9b714",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 1157.5,
        "y": 310,
        "wires": []
    },
    {
        "id": "7812ecaa.81cbe4",
        "type": "debug",
        "z": "b712be0f.9b714",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 325,
        "y": 402,
        "wires": []
    },
    {
        "id": "b3163c5f.6d14d",
        "type": "modbus-read",
        "z": "b712be0f.9b714",
        "name": "Controller PV Volts",
        "topic": "",
        "showStatusActivities": true,
        "logIOActivities": false,
        "showErrors": true,
        "unitid": "10",
        "dataType": "HoldingRegister",
        "adr": "4115",
        "quantity": "3",
        "rate": "5",
        "rateUnit": "s",
        "delayOnStart": false,
        "startDelayTime": "5",
        "server": "c3ea8536.508f08",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "x": 144.8333511352539,
        "y": 67.00002861022949,
        "wires": [
            [
                "10cd170c.9653f9"
            ],
            []
        ]
    },
    {
        "id": "4f39cf97.fd06",
        "type": "modbus-read",
        "z": "b712be0f.9b714",
        "name": "Controller PV Amps",
        "topic": "",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "unitid": "10",
        "dataType": "HoldingRegister",
        "adr": "4120",
        "quantity": "3",
        "rate": "5",
        "rateUnit": "s",
        "delayOnStart": false,
        "startDelayTime": "5",
        "server": "c3ea8536.508f08",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "x": 148.33334350585937,
        "y": 172.3333740234375,
        "wires": [
            [
                "8fc4ae73.8d12f"
            ],
            []
        ]
    },
    {
        "id": "8da61dbc.5d01f",
        "type": "modbus-read",
        "z": "b712be0f.9b714",
        "name": "Controller Battery Volts",
        "topic": "",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "unitid": "10",
        "dataType": "HoldingRegister",
        "adr": "4114",
        "quantity": "3",
        "rate": "5",
        "rateUnit": "s",
        "delayOnStart": false,
        "startDelayTime": "5",
        "server": "c3ea8536.508f08",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "x": 154.3333282470703,
        "y": 259.3333730697632,
        "wires": [
            [
                "9a9c4f4.59594b"
            ],
            []
        ]
    },
    {
        "id": "8c9bf4f3.c34038",
        "type": "modbus-read",
        "z": "b712be0f.9b714",
        "name": "Controller Battery Amps",
        "topic": "",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "unitid": "10",
        "dataType": "HoldingRegister",
        "adr": "4116",
        "quantity": "3",
        "rate": "5",
        "rateUnit": "s",
        "delayOnStart": false,
        "startDelayTime": "",
        "server": "c3ea8536.508f08",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "x": 154.66671752929687,
        "y": 637.3333129882812,
        "wires": [
            [
                "f69569c7.098db8"
            ],
            []
        ]
    },
    {
        "id": "2510b238.0dfede",
        "type": "modbus-read",
        "z": "b712be0f.9b714",
        "name": "Controller Charge State",
        "topic": "",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "unitid": "10",
        "dataType": "HoldingRegister",
        "adr": "4119",
        "quantity": "3",
        "rate": "5",
        "rateUnit": "s",
        "delayOnStart": false,
        "startDelayTime": "5",
        "server": "c3ea8536.508f08",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "x": 159.33335876464844,
        "y": 352,
        "wires": [
            [
                "8bbe11c2.66094",
                "7812ecaa.81cbe4"
            ],
            []
        ]
    },
    {
        "id": "1afce49e.09b6eb",
        "type": "modbus-read",
        "z": "b712be0f.9b714",
        "name": "Controller Watts In",
        "topic": "",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "unitid": "10",
        "dataType": "HoldingRegister",
        "adr": "4118",
        "quantity": "3",
        "rate": "5",
        "rateUnit": "s",
        "delayOnStart": false,
        "startDelayTime": "",
        "server": "c3ea8536.508f08",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "x": 145.33334350585937,
        "y": 459,
        "wires": [
            [
                "2104f01b.2d581"
            ],
            []
        ]
    },
    {
        "id": "15697ff4.0ad1c",
        "type": "modbus-read",
        "z": "b712be0f.9b714",
        "name": "Controller kWh",
        "topic": "",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "unitid": "10",
        "dataType": "HoldingRegister",
        "adr": "4117",
        "quantity": "3",
        "rate": "5",
        "rateUnit": "s",
        "delayOnStart": false,
        "startDelayTime": "",
        "server": "c3ea8536.508f08",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "x": 144,
        "y": 558.0000610351562,
        "wires": [
            [
                "59a3376.25545c8"
            ],
            []
        ]
    },
    {
        "id": "ce8a43a4.40292",
        "type": "modbus-read",
        "z": "b712be0f.9b714",
        "name": "WhizJr Amps",
        "topic": "",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "unitid": "10",
        "dataType": "HoldingRegister",
        "adr": "4370",
        "quantity": "3",
        "rate": "5",
        "rateUnit": "s",
        "delayOnStart": false,
        "startDelayTime": "",
        "server": "c3ea8536.508f08",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "x": 135.80953979492187,
        "y": 742.2857055664062,
        "wires": [
            [
                "a92a9531.3466b8"
            ],
            []
        ]
    },
    {
        "id": "c320ba82.802af8",
        "type": "modbus-read",
        "z": "b712be0f.9b714",
        "name": "SOC",
        "topic": "",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "unitid": "10",
        "dataType": "HoldingRegister",
        "adr": "4372",
        "quantity": "3",
        "rate": "5",
        "rateUnit": "s",
        "delayOnStart": false,
        "startDelayTime": "",
        "server": "c3ea8536.508f08",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "x": 110.47618865966797,
        "y": 888.0952882766724,
        "wires": [
            [
                "367c99a4.35c6b6"
            ],
            []
        ]
    },
    {
        "id": "a1adf3db.a66b",
        "type": "modbus-read",
        "z": "b712be0f.9b714",
        "name": "RemainingAH",
        "topic": "",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "unitid": "10",
        "dataType": "HoldingRegister",
        "adr": "4376",
        "quantity": "3",
        "rate": "5",
        "rateUnit": "s",
        "delayOnStart": false,
        "startDelayTime": "",
        "server": "c3ea8536.508f08",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "x": 129.99999237060547,
        "y": 966.6666259765625,
        "wires": [
            [
                "5778c3d1.ae40dc"
            ],
            []
        ]
    },
    {
        "id": "570d16c5.e21ae8",
        "type": "modbus-read",
        "z": "b712be0f.9b714",
        "name": "Battery Temp",
        "topic": "",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "unitid": "10",
        "dataType": "HoldingRegister",
        "adr": "4131",
        "quantity": "3",
        "rate": "5",
        "rateUnit": "s",
        "delayOnStart": false,
        "startDelayTime": "",
        "server": "c3ea8536.508f08",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "x": 130.5,
        "y": 1073,
        "wires": [
            [
                "9d9ddd0a.62c03"
            ],
            []
        ]
    },
    {
        "id": "d4030736.256028",
        "type": "modbus-read",
        "z": "b712be0f.9b714",
        "name": "FET Temp",
        "topic": "",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "unitid": "10",
        "dataType": "HoldingRegister",
        "adr": "4132",
        "quantity": "3",
        "rate": "5",
        "rateUnit": "s",
        "delayOnStart": false,
        "startDelayTime": "",
        "server": "c3ea8536.508f08",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "x": 118,
        "y": 1176,
        "wires": [
            [
                "9c78c002.df233"
            ],
            []
        ]
    },
    {
        "id": "b24fb366.cf0dc",
        "type": "modbus-read",
        "z": "b712be0f.9b714",
        "name": "PCB Temp",
        "topic": "",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "unitid": "10",
        "dataType": "HoldingRegister",
        "adr": "4133",
        "quantity": "3",
        "rate": "5",
        "rateUnit": "s",
        "delayOnStart": false,
        "startDelayTime": "",
        "server": "c3ea8536.508f08",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "x": 120,
        "y": 1285,
        "wires": [
            [
                "adae46e5.e86ac8"
            ],
            []
        ]
    },
    {
        "id": "de18d421.d74788",
        "type": "modbus-read",
        "z": "b712be0f.9b714",
        "name": "Voc",
        "topic": "",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "unitid": "10",
        "dataType": "HoldingRegister",
        "adr": "4121",
        "quantity": "3",
        "rate": "5",
        "rateUnit": "s",
        "delayOnStart": false,
        "startDelayTime": "",
        "server": "c3ea8536.508f08",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "x": 120,
        "y": 1405.3333740234375,
        "wires": [
            [
                "c7a8bcd5.f44fe"
            ],
            []
        ]
    },
    {
        "id": "1febcbf9.b36f14",
        "type": "influxdb out",
        "z": "b712be0f.9b714",
        "influxdb": "25e9f56a.69417a",
        "name": "insertPvVoltsTbl",
        "measurement": "pvVoltsTbl",
        "precision": "",
        "retentionPolicy": "",
        "x": 597.8332633972168,
        "y": 81.00004005432129,
        "wires": []
    },
    {
        "id": "8df5d846.aa0a58",
        "type": "influxdb out",
        "z": "b712be0f.9b714",
        "influxdb": "25e9f56a.69417a",
        "name": "insertPvAmpsTbl",
        "measurement": "pvAmpsTbl",
        "precision": "",
        "retentionPolicy": "",
        "x": 600.9999656677246,
        "y": 192.66671323776245,
        "wires": []
    },
    {
        "id": "6fdfe895.850b78",
        "type": "influxdb out",
        "z": "b712be0f.9b714",
        "influxdb": "25e9f56a.69417a",
        "name": "insertBatVoltsTbl",
        "measurement": "batVoltsTbl",
        "precision": "",
        "retentionPolicy": "",
        "x": 601.6666069030762,
        "y": 288.3333787918091,
        "wires": []
    },
    {
        "id": "43de7a0.a489d88",
        "type": "influxdb out",
        "z": "b712be0f.9b714",
        "influxdb": "25e9f56a.69417a",
        "name": "insertBatAmpsTbl",
        "measurement": "batAmpsTbl",
        "precision": "",
        "retentionPolicy": "",
        "x": 603.666748046875,
        "y": 625.666748046875,
        "wires": []
    },
    {
        "id": "46e2e1a7.14fc7",
        "type": "influxdb out",
        "z": "b712be0f.9b714",
        "influxdb": "25e9f56a.69417a",
        "name": "insertwattsInTbl",
        "measurement": "wattsInTbl",
        "precision": "",
        "retentionPolicy": "",
        "x": 591.6666221618652,
        "y": 471.0000343322754,
        "wires": []
    },
    {
        "id": "93ab9506.7a1008",
        "type": "influxdb out",
        "z": "b712be0f.9b714",
        "influxdb": "25e9f56a.69417a",
        "name": "stateOfChargeTbl",
        "measurement": "stateOfChargeTbl",
        "precision": "",
        "retentionPolicy": "",
        "x": 603.857177734375,
        "y": 379.0476379394531,
        "wires": []
    },
    {
        "id": "96ccd.179af334",
        "type": "influxdb out",
        "z": "b712be0f.9b714",
        "influxdb": "25e9f56a.69417a",
        "name": "insertkWhTbl",
        "measurement": "kWhTbl",
        "precision": "",
        "retentionPolicy": "",
        "x": 580.9523849487305,
        "y": 569.0476913452148,
        "wires": []
    },
    {
        "id": "e63be9e9.597ec8",
        "type": "influxdb out",
        "z": "b712be0f.9b714",
        "influxdb": "25e9f56a.69417a",
        "name": "insertWhzAmpsTbl",
        "measurement": "whzAmpsTbl",
        "precision": "",
        "retentionPolicy": "",
        "x": 579.9999389648437,
        "y": 770.0000429153442,
        "wires": []
    },
    {
        "id": "6bbf6e88.e3069",
        "type": "influxdb out",
        "z": "b712be0f.9b714",
        "influxdb": "25e9f56a.69417a",
        "name": "insertConsumedAmpsTbl",
        "measurement": "consumedAmpsTbl",
        "precision": "",
        "retentionPolicy": "",
        "x": 1001,
        "y": 723,
        "wires": []
    },
    {
        "id": "905ad13a.6480c",
        "type": "influxdb out",
        "z": "b712be0f.9b714",
        "influxdb": "25e9f56a.69417a",
        "name": "insertConsumedWattsTbl",
        "measurement": "consumedWattsTbl",
        "precision": "",
        "retentionPolicy": "",
        "x": 1536.333351135254,
        "y": 274.6665782928467,
        "wires": []
    },
    {
        "id": "f93aab89.9edb68",
        "type": "influxdb out",
        "z": "b712be0f.9b714",
        "influxdb": "25e9f56a.69417a",
        "name": "insertSocTbl",
        "measurement": "socTbl",
        "precision": "",
        "retentionPolicy": "",
        "x": 558.3333206176758,
        "y": 906.6666212081909,
        "wires": []
    },
    {
        "id": "582fa9e.b7cb858",
        "type": "influxdb out",
        "z": "b712be0f.9b714",
        "influxdb": "25e9f56a.69417a",
        "name": "insertRemainingAhTbl",
        "measurement": "remainingAhTbl",
        "precision": "",
        "retentionPolicy": "",
        "x": 591.6666679382324,
        "y": 986.6666212081909,
        "wires": []
    },
    {
        "id": "797585a.147307c",
        "type": "influxdb out",
        "z": "b712be0f.9b714",
        "influxdb": "25e9f56a.69417a",
        "name": "insertBatteryTemp",
        "measurement": "batteryTemp",
        "precision": "",
        "retentionPolicy": "",
        "x": 551.5,
        "y": 1093,
        "wires": []
    },
    {
        "id": "c95c087f.e9bd08",
        "type": "influxdb out",
        "z": "b712be0f.9b714",
        "influxdb": "25e9f56a.69417a",
        "name": "insertFETTemp",
        "measurement": "fetTemp",
        "precision": "",
        "retentionPolicy": "",
        "x": 539,
        "y": 1196,
        "wires": []
    },
    {
        "id": "e6f0ee48.f665b",
        "type": "influxdb out",
        "z": "b712be0f.9b714",
        "influxdb": "25e9f56a.69417a",
        "name": "insertPCBTemp",
        "measurement": "pcbTemp",
        "precision": "",
        "retentionPolicy": "",
        "x": 541,
        "y": 1305,
        "wires": []
    },
    {
        "id": "a6dd342f.a846b8",
        "type": "influxdb out",
        "z": "b712be0f.9b714",
        "influxdb": "25e9f56a.69417a",
        "name": "insertVocTbl",
        "measurement": "pvVocTbl",
        "precision": "",
        "retentionPolicy": "",
        "x": 586.9999389648437,
        "y": 1439.3333740234375,
        "wires": []
    },
    {
        "id": "c3ea8536.508f08",
        "type": "modbus-client",
        "z": "",
        "name": "Classic 150",
        "clienttype": "tcp",
        "bufferCommands": true,
        "stateLogEnabled": true,
        "tcpHost": "192.168.1.140",
        "tcpPort": "502",
        "tcpType": "DEFAULT",
        "serialPort": "/dev/ttyUSB",
        "serialType": "RTU-BUFFERD",
        "serialBaudrate": "9600",
        "serialDatabits": "8",
        "serialStopbits": "1",
        "serialParity": "none",
        "serialConnectionDelay": "100",
        "unit_id": "1",
        "commandDelay": "200",
        "clientTimeout": "1000",
        "reconnectTimeout": "5000"
    },
    {
        "id": "25e9f56a.69417a",
        "type": "influxdb",
        "z": "",
        "hostname": "localhost",
        "port": "8086",
        "protocol": "http",
        "database": "solar",
        "name": "",
        "usetls": false,
        "tls": ""
    }
]
