flows/midnite.json
[{"id":"f21be43b.654b48","type":"tab","label":"Midnite Classic","disabled":false,"info":""},{"id":"f1fd7f2.a08268","type":"modbus-read","z":"f21be43b.654b48","name":"Controller PV Volts","topic":"","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"unitid":"10","dataType":"HoldingRegister","adr":"4115","quantity":"3","rate":"5","rateUnit":"s","delayOnStart":false,"startDelayTime":"","server":"15303301.1d3a8d","useIOFile":false,"ioFile":"","useIOForPayload":false,"x":144.8333511352539,"y":67.00002861022949,"wires":[["1f0a59a2.141846"],[]]},{"id":"3fad530b.e49b7c","type":"debug","z":"f21be43b.654b48","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":571.1666412353516,"y":40.66670322418213,"wires":[]},{"id":"1f0a59a2.141846","type":"function","z":"f21be43b.654b48","name":"FormatPvVolts","func":"msg.payload = msg.payload[0]/10\nreturn msg;","outputs":1,"noerr":0,"x":371.1666793823242,"y":61.66669273376465,"wires":[["3fad530b.e49b7c","ea831111.364a7"]]},{"id":"ea831111.364a7","type":"influxdb out","z":"f21be43b.654b48","influxdb":"12bc5eec.02c0d1","name":"insertPvVoltsTbl","measurement":"pvVoltsTbl","precision":"","retentionPolicy":"","x":597.8332633972168,"y":81.00004005432129,"wires":[]},{"id":"3a9a1d40.3c19b2","type":"modbus-read","z":"f21be43b.654b48","name":"Controller PV Amps","topic":"","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"unitid":"10","dataType":"HoldingRegister","adr":"4120","quantity":"3","rate":"5","rateUnit":"s","delayOnStart":false,"startDelayTime":"","server":"15303301.1d3a8d","useIOFile":false,"ioFile":"","useIOForPayload":false,"x":148.3333511352539,"y":176.33337497711182,"wires":[["65a4470b.0c3298"],[]]},{"id":"65a4470b.0c3298","type":"function","z":"f21be43b.654b48","name":"FormatPvAmps","func":"msg.payload = msg.payload[0]/10\nreturn msg;","outputs":1,"noerr":0,"x":369.6667022705078,"y":170.0000410079956,"wires":[["6f9931a1.08378","86ec9eb3.48d69"]]},{"id":"6f9931a1.08378","type":"debug","z":"f21be43b.654b48","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":582.9999656677246,"y":141.66671323776245,"wires":[]},{"id":"86ec9eb3.48d69","type":"influxdb out","z":"f21be43b.654b48","influxdb":"12bc5eec.02c0d1","name":"insertPvAmpsTbl","measurement":"pvAmpsTbl","precision":"","retentionPolicy":"","x":600.9999656677246,"y":192.66671323776245,"wires":[]},{"id":"8ae5218.419c3e","type":"modbus-read","z":"f21be43b.654b48","name":"Controller Battery Volts","topic":"","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"unitid":"10","dataType":"HoldingRegister","adr":"4114","quantity":"3","rate":"5","rateUnit":"s","delayOnStart":false,"startDelayTime":"","server":"15303301.1d3a8d","useIOFile":false,"ioFile":"","useIOForPayload":false,"x":154.3333282470703,"y":259.3333730697632,"wires":[[],["da6981e1.f39a7"]]},{"id":"33b52624.f8f4aa","type":"debug","z":"f21be43b.654b48","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":584.6666069030762,"y":245.33337879180908,"wires":[]},{"id":"da6981e1.f39a7","type":"function","z":"f21be43b.654b48","name":"FormatBatVolts","func":"msg.payload = msg.payload.data[0]/10\nreturn msg;","outputs":1,"noerr":0,"x":368.6666603088379,"y":265.6667175292969,"wires":[["33b52624.f8f4aa","698118f.abc22e8"]]},{"id":"698118f.abc22e8","type":"influxdb out","z":"f21be43b.654b48","influxdb":"12bc5eec.02c0d1","name":"insertBatVoltsTbl","measurement":"batVoltsTbl","precision":"","retentionPolicy":"","x":601.6666069030762,"y":288.3333787918091,"wires":[]},{"id":"42ce8967.6bc858","type":"modbus-read","z":"f21be43b.654b48","name":"Controller Battery Amps","topic":"","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"unitid":"10","dataType":"HoldingRegister","adr":"4116","quantity":"3","rate":"1","rateUnit":"s","delayOnStart":false,"startDelayTime":"","server":"15303301.1d3a8d","useIOFile":false,"ioFile":"","useIOForPayload":false,"x":155.66670989990234,"y":643.3333187103271,"wires":[["700b36bc.a0b858"],[]]},{"id":"700b36bc.a0b858","type":"function","z":"f21be43b.654b48","name":"FormatBatAmps","func":"msg.payload = msg.payload[0]/10;\nmsg.amps = {};\nmsg.amps.bat = msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":370.3334045410156,"y":636.3333196640015,"wires":[["b4db961f.f7b6e8","ba21e0a.bde6f2"]]},{"id":"b4db961f.f7b6e8","type":"influxdb out","z":"f21be43b.654b48","influxdb":"12bc5eec.02c0d1","name":"insertBatAmpsTbl","measurement":"batAmpsTbl","precision":"","retentionPolicy":"","x":591.6667556762695,"y":639.6667413711548,"wires":[]},{"id":"14c3cab.b665c35","type":"modbus-read","z":"f21be43b.654b48","name":"Controller Chage State","topic":"","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"unitid":"10","dataType":"HoldingRegister","adr":"4119","quantity":"3","rate":"5","rateUnit":"s","delayOnStart":false,"startDelayTime":"","server":"15303301.1d3a8d","useIOFile":false,"ioFile":"","useIOForPayload":false,"x":154.33335876464844,"y":360.00001525878906,"wires":[["6bdcdd34.0170e4"],[]]},{"id":"95995fc3.47cbe","type":"debug","z":"f21be43b.654b48","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":562.8571166992188,"y":336.33334159851074,"wires":[]},{"id":"6bdcdd34.0170e4","type":"function","z":"f21be43b.654b48","name":"getsChargeState","func":"// Create new Buffer based on array bytes\nconst buf = Buffer.from(msg.responseBuffer.buffer);\n\n// Represent these bytes as 8-bit unsigned int\nconst value = buf.readInt8();\n\n// save the value\nmsg.bufferReadValue = value\n\n\nswitch (value)\n{\n    case 0:\n        msg.payload = \"Resting\";\n        break;\n    case 3:\n        msg.payload = \"Absorb\";\n        break;\n    case 4:\n        msg.payload = \"Bulk Mppt\";\n        break;\n    case 5:\n        msg.payload = \"Float\";\n        break;\n    case 6:\n        msg.payload = \"Float Mppt\";\n        break;\n    case 7:\n        msg.payload = \"Equalize\";\n        break;\n    case 10:\n        msg.payload = \"Hyper Voc\";\n        break;\n    case 18:\n        msg.payload = \"Resting\";\n        break;\n    default:\n        msg.payload = \"Eq Mppt\";\n        break;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":380.57152557373047,"y":352.4762210845947,"wires":[["95995fc3.47cbe","5d03389.5903ac8"]]},{"id":"4760e095.e5db","type":"modbus-read","z":"f21be43b.654b48","name":"Controller Watts In","topic":"","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"unitid":"10","dataType":"HoldingRegister","adr":"4118","quantity":"3","rate":"5","rateUnit":"s","delayOnStart":false,"startDelayTime":"","server":"15303301.1d3a8d","useIOFile":false,"ioFile":"","useIOForPayload":false,"x":154.33334350585938,"y":457.0000295639038,"wires":[["70ab07cc.73d678"],[]]},{"id":"671a8a97.338c64","type":"debug","z":"f21be43b.654b48","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":580.6666221618652,"y":428.0000343322754,"wires":[]},{"id":"70ab07cc.73d678","type":"function","z":"f21be43b.654b48","name":"FormatWatts","func":"msg.payload = msg.payload[0]\nreturn msg;","outputs":1,"noerr":0,"x":359.6666793823242,"y":451.0000295639038,"wires":[["671a8a97.338c64","f8b0752.5ef0488"]]},{"id":"f8b0752.5ef0488","type":"influxdb out","z":"f21be43b.654b48","influxdb":"12bc5eec.02c0d1","name":"insertwattsInTbl","measurement":"wattsInTbl","precision":"","retentionPolicy":"","x":591.6666221618652,"y":471.0000343322754,"wires":[]},{"id":"52dc0445.49a96c","type":"modbus-read","z":"f21be43b.654b48","name":"Controller kWh","topic":"","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"unitid":"10","dataType":"HoldingRegister","adr":"4117","quantity":"3","rate":"5","rateUnit":"s","delayOnStart":false,"startDelayTime":"","server":"15303301.1d3a8d","useIOFile":false,"ioFile":"","useIOForPayload":false,"x":144.00000762939453,"y":557.0000638961792,"wires":[["a8a152e7.8351f"],[]]},{"id":"afd0ddd4.9ff6b","type":"debug","z":"f21be43b.654b48","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":562.3333854675293,"y":524.6667289733887,"wires":[]},{"id":"a8a152e7.8351f","type":"function","z":"f21be43b.654b48","name":"FormatKwH","func":"msg.payload = msg.payload[0]/10\nreturn msg;","outputs":1,"noerr":0,"x":363.0951271057129,"y":551.904727935791,"wires":[["afd0ddd4.9ff6b","d3193405.934bc8"]]},{"id":"5d03389.5903ac8","type":"influxdb out","z":"f21be43b.654b48","influxdb":"12bc5eec.02c0d1","name":"stateOfChargeTbl","measurement":"stateOfChargeTbl","precision":"","retentionPolicy":"","x":602.8571510314941,"y":379.04764556884766,"wires":[]},{"id":"d3193405.934bc8","type":"influxdb out","z":"f21be43b.654b48","influxdb":"12bc5eec.02c0d1","name":"insertkWhTbl","measurement":"kWhTbl","precision":"","retentionPolicy":"","x":580.9523849487305,"y":569.0476913452148,"wires":[]},{"id":"4bb76389.702bfc","type":"modbus-read","z":"f21be43b.654b48","name":"WhizJr Amps","topic":"","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"unitid":"10","dataType":"HoldingRegister","adr":"4370","quantity":"3","rate":"1","rateUnit":"s","delayOnStart":false,"startDelayTime":"","server":"15303301.1d3a8d","useIOFile":false,"ioFile":"","useIOForPayload":false,"x":123.8095474243164,"y":744.2857151031494,"wires":[["5cbf6e52.73bf2"],[]]},{"id":"5cbf6e52.73bf2","type":"function","z":"f21be43b.654b48","name":"formatAmps","func":"// Create new Buffer based on array bytes\nconst buf = Buffer.from(msg.responseBuffer.buffer);\n\n// Represent these bytes as 8-bit unsigned int\nconst value = buf.readInt16BE();\n\n// save the value\nmsg.payload = value/10;\nmsg.amps = {};\nmsg.amps.whz = msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":341.4285430908203,"y":738.0952568054199,"wires":[["ba21e0a.bde6f2","4fc10c77.5ea7d4","3d55b958.f2b386"]]},{"id":"8a0843b8.03d4","type":"modbus-read","z":"f21be43b.654b48","name":"SOC","topic":"","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"unitid":"10","dataType":"HoldingRegister","adr":"4372","quantity":"3","rate":"5","rateUnit":"s","delayOnStart":false,"startDelayTime":"","server":"15303301.1d3a8d","useIOFile":false,"ioFile":"","useIOForPayload":false,"x":110.47618865966797,"y":888.0952882766724,"wires":[["7903fed0.c61f2"],[]]},{"id":"b38a150f.b846d8","type":"debug","z":"f21be43b.654b48","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":541.4286766052246,"y":865.2381944656372,"wires":[]},{"id":"4fc10c77.5ea7d4","type":"influxdb out","z":"f21be43b.654b48","influxdb":"12bc5eec.02c0d1","name":"insertWhzAmpsTbl","measurement":"whzAmpsTbl","precision":"","retentionPolicy":"","x":579.9999389648438,"y":770.0000429153442,"wires":[]},{"id":"ba21e0a.bde6f2","type":"join","z":"f21be43b.654b48","name":"","mode":"custom","build":"merged","property":"amps","propertyType":"msg","key":"amps","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":540.8333892822266,"y":711.6667070388794,"wires":[["d00b2fec.23906"]]},{"id":"d00b2fec.23906","type":"function","z":"f21be43b.654b48","name":"getConsumedAmps","func":"msg.amps.consumed = msg.amps.bat - msg.amps.whz;\nmsg.payload = msg.amps.consumed;\nreturn msg;","outputs":1,"noerr":0,"x":716.6664886474609,"y":681.6667556762695,"wires":[["72bbd477.606acc","98b14228.96a65","3b5376df.4260fa"]]},{"id":"72bbd477.606acc","type":"function","z":"f21be43b.654b48","name":"getConsumedWatts","func":"msg.amps.consumed = msg.amps.bat - msg.amps.whz;\nmsg.payload = msg.amps.consumed * 24;\nreturn msg;","outputs":1,"noerr":0,"x":828.3332824707031,"y":751.6667165756226,"wires":[["a1f642b5.f2cfd","7ca97bf7.924d74"]]},{"id":"98b14228.96a65","type":"debug","z":"f21be43b.654b48","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":779.1666297912598,"y":626.6666116714478,"wires":[]},{"id":"3b5376df.4260fa","type":"influxdb out","z":"f21be43b.654b48","influxdb":"12bc5eec.02c0d1","name":"insertConsumedAmpsTbl","measurement":"consumedAmpsTbl","precision":"","retentionPolicy":"","x":984.9999542236328,"y":679.9999780654907,"wires":[]},{"id":"a1f642b5.f2cfd","type":"influxdb out","z":"f21be43b.654b48","influxdb":"12bc5eec.02c0d1","name":"insertConsumedWattsTbl","measurement":"consumedWattsTbl","precision":"","retentionPolicy":"","x":1063.333366394043,"y":751.666615486145,"wires":[]},{"id":"7ca97bf7.924d74","type":"debug","z":"f21be43b.654b48","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1003.3332977294922,"y":794.9999437332153,"wires":[]},{"id":"3d55b958.f2b386","type":"debug","z":"f21be43b.654b48","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":545.2381744384766,"y":812.3810358047485,"wires":[]},{"id":"7903fed0.c61f2","type":"function","z":"f21be43b.654b48","name":"formatSOC","func":"msg.payload = msg.payload[0];\nreturn msg;","outputs":1,"noerr":0,"x":349.16666412353516,"y":883.3333673477173,"wires":[["b38a150f.b846d8","aed62f85.a628c"]]},{"id":"aed62f85.a628c","type":"influxdb out","z":"f21be43b.654b48","influxdb":"12bc5eec.02c0d1","name":"insertSocTbl","measurement":"socTbl","precision":"","retentionPolicy":"","x":558.3333206176758,"y":906.6666212081909,"wires":[]},{"id":"752ed861.8d9fb8","type":"modbus-read","z":"f21be43b.654b48","name":"RemainingAH","topic":"","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"unitid":"10","dataType":"HoldingRegister","adr":"4376","quantity":"3","rate":"5","rateUnit":"s","delayOnStart":false,"startDelayTime":"","server":"15303301.1d3a8d","useIOFile":false,"ioFile":"","useIOForPayload":false,"x":129.99999237060547,"y":966.6666259765625,"wires":[["b1e8f69d.c7f308"],[]]},{"id":"32ba062a.46761a","type":"debug","z":"f21be43b.654b48","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":542.5,"y":948.3333320617676,"wires":[]},{"id":"b1e8f69d.c7f308","type":"function","z":"f21be43b.654b48","name":"formatRemainingAH","func":"msg.payload = msg.payload[0];\nreturn msg;","outputs":1,"noerr":0,"x":343.3332977294922,"y":959.9999771118164,"wires":[["32ba062a.46761a","142ec742.57cfb9"]]},{"id":"142ec742.57cfb9","type":"influxdb out","z":"f21be43b.654b48","influxdb":"12bc5eec.02c0d1","name":"insertRemainingAhTbl","measurement":"remainingAhTbl","precision":"","retentionPolicy":"","x":591.6666679382324,"y":986.6666212081909,"wires":[]},{"id":"15303301.1d3a8d","type":"modbus-client","z":"","name":"Midnite Classic Controller","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"tcpHost":"192.168.0.5","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"10","commandDelay":"1","clientTimeout":"1000","reconnectTimeout":"2000"},{"id":"12bc5eec.02c0d1","type":"influxdb","z":"","hostname":"192.168.0.7","port":"8086","protocol":"http","database":"pereznieto","name":"PerezNietoDB","usetls":false,"tls":""}]